python==3.11
rich==10.14.0
lightgbm==4.6.0 
ta==0.11.0
python-bcb==0.1.8
matplotlib==3.8.2
numpy==1.26.3
packaging==23.2
plotly==5.18.0
streamlit==1.30.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
toml==0.10.2
urllib3==2.1.0
yfinance==1.0















